<section>
  <div class="card-section">
    <div class="grid">
      <div class="col-12 md:col-4">
        <app-aps-selector [selectedAps]="aps" (selectedApsChange)="onApsChange($event)" label="APS"></app-aps-selector>
      </div>
    </div>
  </div>

  <div class="table-wrapper table-scroll">
    <app-tabla-avanzada
      [columnas]="columnas"
      [rows]="rows()"
      [cellClass]="cellClass"
      storageKey="costo-poda"
      nombreExportar="CostoPoda"
    ></app-tabla-avanzada>
  </div>
</section>
