<section>
  <div class="card-section">
    <div class="parametros-row">
      <app-aps-selector [selectedAps]="aps()" (selectedApsChange)="aps.set($event)" label="APS"></app-aps-selector>
      <app-anno-selector [selectedAnno]="anno()" (selectedAnnoChange)="onAnnoChange($event)" label="Año"></app-anno-selector>
      <app-mes-selector [selectedMes]="mes()" (selectedMesChange)="onMesChange($event)" label="Mes"></app-mes-selector>
    </div>
  </div>

  <div class="table-wrapper table-scroll">
    <app-tabla-avanzada
      [columnas]="columnas"
      [rows]="filteredRows()"
      storageKey="detalle-sub-aporte"
      nombreExportar="DetalleSubAporte"
    ></app-tabla-avanzada>
  </div>
</section>
