<div class="tabla-avanzada">
  <div class="densidad-toolbar">
    <span class="densidad-label">Densidad de la tabla</span>
    <div class="densidad-switch">
      <button
        type="button"
        class="densidad-opcion"
        [class.activa]="!compacta"
        (click)="setDensidad(false)"
      >
        <i class="pi pi-bars"></i>
        Normal
      </button>
      <button
        type="button"
        class="densidad-opcion"
        [class.activa]="compacta"
        (click)="setDensidad(true)"
      >
        <i class="pi pi-align-justify"></i>
        Compacta
      </button>
    </div>
  </div>

  <p-table
    [value]="rows"
    [scrollable]="true"
    [scrollHeight]="scrollHeight"
    [paginator]="true"
    [rows]="filasPorPagina"
    [rowsPerPageOptions]="[10, 20, 50]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [stripedRows]="true"
    [rowHover]="true"
    [showGridlines]="true"
    [size]="compacta ? 'small' : undefined"
  >
    <ng-template pTemplate="caption">
      <div class="tabla-toolbar">
        <p-multiSelect
          [options]="columnas"
          [ngModel]="columnasState.visibles"
          (onChange)="onColumnasChange($event.value)"
          optionLabel="header"
          placeholder="Columnas"
          [maxSelectedLabels]="0"
          selectedItemsLabel="Ver Columnas"
          styleClass="columnas-toggle"
        ></p-multiSelect>
        <p-button
          icon="pi pi-refresh"
          label="Restaurar columnas"
          severity="secondary"
          [text]="true"
          (click)="columnasState.restaurar()"
        ></p-button>

        <p-select
          *ngIf="columnasState.presets.length > 0"
          [options]="columnasState.presets"
          optionLabel="nombre"
          optionValue="nombre"
          [ngModel]="columnasState.presetActual"
          placeholder="Vistas guardadas"
          (onChange)="columnasState.aplicarPreset($event.value)"
          styleClass="presets-select"
        ></p-select>
        <i
          *ngIf="columnasState.presetActual"
          class="pi pi-trash preset-delete"
          title="Eliminar vista guardada"
          (click)="columnasState.eliminarPresetActual()"
        ></i>
        <p-button
          icon="pi pi-bookmark"
          label="Guardar vista"
          severity="secondary"
          [text]="true"
          (click)="mostrarGuardarVista = true"
        ></p-button>

        <p-button icon="pi pi-external-link" label="Exportar" (click)="mostrarExport = true"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let col of columnasState.visibles"
          draggable="true"
          class="columna-movible"
          pSortableColumn="{{ col.field }}"
          pFrozenColumn
          [frozen]="columnasState.esFija(col.field)"
          (dragstart)="columnasState.onDragStart(col.field)"
          (dragover)="$event.preventDefault()"
          (drop)="columnasState.onDrop(col.field)"
        >
          <span class="columna-header-content">
            <span class="columna-titulo">
              <i class="pi pi-bars columna-grip"></i>
              <p-checkbox
                [binary]="true"
                [ngModel]="columnasState.esFija(col.field)"
                (onChange)="columnasState.toggleFijar(col.field)"
                (click)="$event.stopPropagation()"
                title="Fijar columna"
                styleClass="columna-fijar-check"
              ></p-checkbox>
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </span>
            <span
              class="columna-ocultar-btn"
              draggable="false"
              title="Ocultar columna"
              (click)="columnasState.ocultar(col.field); $event.stopPropagation()"
            >
              <i class="pi pi-times"></i>
            </span>
          </span>
        </th>
        <th *ngIf="accionesTemplate">{{ accionesHeader }}</th>
      </tr>
      <tr>
        <th *ngFor="let col of columnasState.visibles" pFrozenColumn [frozen]="columnasState.esFija(col.field)">
          <p-columnFilter
            *ngIf="col.filtrable"
            type="text"
            [field]="col.field"
            matchMode="contains"
            [showMenu]="false"
          ></p-columnFilter>
        </th>
        <th *ngIf="accionesTemplate"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td
          *ngFor="let col of columnasState.visibles"
          pFrozenColumn
          [frozen]="columnasState.esFija(col.field)"
          [class.celda-numero]="col.numero"
          [ngClass]="cellClass ? cellClass(row, col) : ''"
        >
          <ng-container *ngIf="cellTemplate; else celdaDefault"
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: row[col.field], row: row, col: col }"
          ></ng-container>
          <ng-template #celdaDefault>{{ row[col.field] }}</ng-template>
        </td>
        <td *ngIf="accionesTemplate">
          <ng-container
            [ngTemplateOutlet]="accionesTemplate"
            [ngTemplateOutletContext]="{ $implicit: row }"
          ></ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-exportar-tabla-dialog
  [(visible)]="mostrarExport"
  [columnas]="columnas"
  [rows]="rows"
  [nombreSugerido]="nombreExportar"
></app-exportar-tabla-dialog>

<app-guardar-vista-dialog
  [(visible)]="mostrarGuardarVista"
  (guardar)="confirmarGuardarVista($event)"
></app-guardar-vista-dialog>
