<section>
  <app-parametros-consulta
    [(aps)]="aps"
    [(anno)]="anno"
    [(mes)]="mes"
    [loading]="loading"
    [autoConsultar]="true"
    (consultar)="consultar()"
    (parametrosIncompletos)="limpiar()"
  ></app-parametros-consulta>

  <p *ngIf="loading">Cargando...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <p *ngIf="!loading && !error && rows.length === 0">Sin datos para el período seleccionado.</p>

  <div *ngIf="!loading && rows.length > 0" class="table-wrapper table-scroll">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        <p-tab [value]="0">Plena</p-tab>
        <p-tab [value]="1">Sub &amp; Con</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="0">
          <app-tabla-avanzada
            [columnas]="columnasPlena"
            [rows]="rows"
            storageKey="tarifas-plena"
            nombreExportar="TarifaPlena"
          ></app-tabla-avanzada>
        </p-tabpanel>

        <p-tabpanel [value]="1">
          <app-tabla-avanzada
            [columnas]="columnasSubCon"
            [rows]="rows"
            storageKey="tarifas-subcon"
            nombreExportar="TariSubCont"
          ></app-tabla-avanzada>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
