<section>
  <div class="card-section">
    <div class="parametros-row">
      <app-aps-selector [selectedAps]="aps()" (selectedApsChange)="aps.set($event)" label="APS"></app-aps-selector>
      <app-anno-selector [selectedAnno]="anno()" (selectedAnnoChange)="onAnnoChange($event)" label="Año"></app-anno-selector>
      <app-mes-selector [selectedMes]="mes()" (selectedMesChange)="onMesChange($event)" label="Mes"></app-mes-selector>
    </div>
  </div>

  <div class="table-wrapper table-scroll">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Plena</p-tab>
        <p-tab value="1">Sub &amp; Con</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-tabla-avanzada
            [columnas]="columnasPlena"
            [rows]="filteredRows()"
            storageKey="tarifas-gen-plena"
            nombreExportar="TarifaPlena"
          ></app-tabla-avanzada>
        </p-tabpanel>

        <p-tabpanel value="1">
          <app-tabla-avanzada
            [columnas]="columnasSubCon"
            [rows]="filteredRows()"
            storageKey="tarifas-gen-subcon"
            nombreExportar="TariSubCont"
          ></app-tabla-avanzada>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
