.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.filters {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.actions {
  display: flex;
  gap: 0.4rem;
}

.text-right {
  text-align: right;
}
