<p-toast></p-toast>

<div class="card-section">
  <div class="filters">
    <app-aps-selector [selectedAps]="aps()" (selectedApsChange)="onApsChange($event)" label="APS"></app-aps-selector>
    <app-anno-selector [selectedAnno]="anno()" (selectedAnnoChange)="onAnnoChange($event)" label="Año"></app-anno-selector>
    <app-mes-selector [selectedMes]="mes()" (selectedMesChange)="onMesChange($event)" label="Mes"></app-mes-selector>
  </div>
</div>

<div class="card-section">
  <p-table [value]="consultado() ? [{}] : []" [loading]="loading()" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-right">Valor</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td class="text-right">
          <p-inputnumber
            *ngIf="editando(); else valorReadonly"
            [ngModel]="editingValor()"
            (ngModelChange)="editingValor.set($event)"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
          ></p-inputnumber>
          <ng-template #valorReadonly>{{ item() !== null ? item()!.prodValor : '-' }}</ng-template>
        </td>
        <td class="actions">
          <ng-container *ngIf="editando(); else accionEditar">
            <p-button icon="pi pi-check" severity="success" size="small" (click)="confirmarGuardar()"></p-button>
            <p-button icon="pi pi-times" severity="secondary" size="small" (click)="cancelarEdicion()"></p-button>
          </ng-container>
          <ng-template #accionEditar>
            <p-button icon="pi pi-pencil" severity="info" size="small" (click)="iniciarEdicion()"></p-button>
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Seleccione APS, año y mes para ver el valor de productividad.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
